.rhap_container {
  background-color: black;
}

.rhap_main-controls-button,
.rhap_repeat-button,
.rhap_volume-button,
.rhap_time {
  color: white;
}

.rhap_progress-indicator,
.rhap_volume-indicator {
  background-color: white;
}
