@use "src/app/globals.scss" as *;

.hero {
  position: relative;
  top: -6rem;
  padding: 1rem;
  padding-top: 7rem;
  width: clamp(50vw, 100vw, 1024px);
  height: 50vh;
  margin-bottom: -6rem;
  overflow: hidden;
}

.link:hover .hero-image {
  transform: scale(1.1);
}

.hero-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.2s ease-in-out;
}

.heading {
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 2rem;
  font-weight: 900;

  @media (min-width: $breakpoint-sm) {
    font-size: 4rem;
  }

  & span {
    display: block;
    position: absolute;
    padding: 1rem;

    &:first-of-type {
      top: 6rem;
      left: 0;
    }
    &:last-of-type {
      display: block;
      position: absolute;
      bottom: 0;
      right: 0;
      text-align: right;
    }
  }
}
