@use "src/app/globals.scss" as *;

.tile {
  flex: 50%;
  height: clamp(50vw, 50vw, 512px);
  background-color: #fff;
  overflow: hidden;

  @media (min-width: $breakpoint-lg) {
    flex: 33.3333%;
    height: clamp(100px, 33.3333vw, 341.336px);
  }
}

.link {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;

  &:hover .tile-image,
  &:focus .tile-image {
    transform: scale(1.1);
  }
}

.tile-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.2s ease-in-out;
}

.title {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 1rem;
  font-size: 1rem;
  font-weight: 900;
  text-align: right;

  & span {
    background-color: #04a8ff;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
  }

  @media (min-width: $breakpoint-md) {
    font-size: 1.5rem;
  }
}

.subtitle {
  font-size: 0.75rem;

  @media (min-width: $breakpoint-md) {
    font-size: 1rem;
  }
}
