.container {
  padding: 1rem;
}

.player {
  margin-top: 1rem;
  width: 100%;

  &::-webkit-media-controls-panel {
    border-radius: 0;
  }
}

.description {
  margin-top: 1rem;

  ol {
    list-style-type: decimal;
    list-style-position: inside;
    padding: 0;
    margin: 0;
  }
}
