.more-link {
  display: block;
  text-align: center;
  padding: 2rem;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: right;
  background-color: #04a8ff;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
  color: black;
}
