.container {
  padding: 1rem;

  & a {
    color: #04a8ff;
    text-decoration: underline;
  }
}

.player {
  margin: 0 0 1rem 0;
  padding: 2rem 1rem 1.5rem;
  width: 100%;

  &::-webkit-media-controls-panel {
    border-radius: 0;
  }
}

.list {
  list-style: none;
  padding: 1rem 0;
  margin: 0;
}

.description {
  margin: 1rem 0;

  ol {
    list-style-type: decimal;
    list-style-position: inside;
    padding: 0;
    margin: 0;

    &::before {
      content: "Tracklist";
      font-size: large;
      font-weight: bold;
      display: block;
      margin-bottom: 1rem;
    }
  }
}
