{
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": ["^@/(.*)$", "^[./](?!.*.s?css$)", "^[./].*.s?css$"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderCaseInsensitive": true,
  "semi": false
}
